.main {
  margin: 30px;
}

ul.menu {
  list-style: none;
}

ul.menu li {
  float: left;
  width: 140px;
  height: 80px;
  line-height: 80px;
  border: 2px solid gray;
  margin-right: 5px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: bisque;
}

ul.menu li:hover {
  background-color: blueviolet;
}

ul.menu li a {
  text-decoration: none;
  color: black;
}

ul.menu li a:hover {
  color: red;
}
