<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레이아웃 유형01</title>
  <style>
    body {
      background-color: #fff3e0;
    }
    #wrap {}
    #header {}
    #nav {}
    #aside {}
    #section {}
    #footer {}
  </style>
</head>
<body>
  <div>
    <div id="wrap"></div>
    <div id="header"></div>
    <div id="nav"></div>
    <div id="aside"></div>
    <div id="section"></div>
    <div id="footer"></div>
  </div>

  <!-- 
    layout01_01 : float 방식 레이아웃


  -->
</body>
</html>